[submodule "backend"]
	path = backend
	url = https://github.com/omero2582/general-store-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/omero2582/general-store-frontend
[submodule "shared"]
	path = shared
	url = https://github.com/omero2582/general-store-shared
